* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header__link {
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}

.title {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.title2 {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  list-style-type: none;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  gap: 20px;
}

.product-card {
  background-color: #ffffff;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  color: #242424;
}

.product-card-about {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  color: #1b150e;
  text-transform: initial;
}
